<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <!-- Bootstrap Setup -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- End bootstrap setup -->


    <title>Bicep Curl Form Detector</title>
</head>


<body>
    {% include 'header.html' %}
    <div class="col-8 offset-md-2 text-left">
        <h3 class="row col-10">Please select which hand you will like to use.</h>
        
        <select class="form-select col-2 mt-3" aria-label="Default select example">
            <option class="" selected>Select</option>
            <option value="Left">Left</option>
            <option value="Right">Right</option>
        </select>
        <div class="container-fluid pl-0">
            <button type="button" class="mt-3 pml-0 container-3 btn btn-outline-primary" onclick="location.href = 'detect'">
                Detect form
            </button>
        </div>
    </div>
</body>